*{
    margin: 0 auto;
    padding: 0 25px;
    font-size:24px;
    background-color: #ffffff24;
    
}
.formDiv{
    margin-top: 20px;
    padding-top: 20px;
    background-color: rgba(172, 255, 47, 0.986);
}
.h4{
    margin: 0 auto;
    padding: 0 25px;
}